<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="yandex-verification" content="8ff8362d9efc931c" />
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" href="https://rosshina.com/Images/LOGO_Rosshina_icon.png" type="image/png" />
    <link rel="icon" href="https://rosshina.com/Images/LOGO_Rosshina_icon.png" type="image/png" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Rosshina_v0._2.styles.css" asp-append-version="true" />

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date();
            for (var j = 0; j < document.scripts.length; j++) { if (document.scripts[j].src === r) { return; } }
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(95810446, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/95810446" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
    <header style="margin:2px;">
        <img src="/Images/LOGO_Rosshina_NOPNG_ONLYlogo.jpg" alt="Логотип" style="float:right;" height="90"/>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light @*border-bottom*@ box-shadow mb-3 navbar-inverse " style="height:90px;">
            <div class="container-fluid">
                <a class="nav-link text-white hometext" asp-route-lang="eng" asp-area="" asp-page="/Index"><h6>Trading House<br/>Tyres and Rubber</h6></a>
                <a class="nav-link text-white"><i>est.2003</i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1  flex-row-reverse nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-route-lang="ru">РУС/ENG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-route-lang="eng" asp-area="" asp-page="/Contacts">Contacts</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Products</a>
                            <ul class="dropdown-menu" style="background-color:#0066CC; width:235px">
                                <li class="test1">
                                <div id="container1" style="width:48.9%; display:inline-block;">
                                    <a id="1a" class="dropdown-item"  asp-route-lang="eng" asp-area="" asp-page="/DataBase/Index" style=" font-weight:bold;">Goods</a></div>
                                <div id="container2" style="width:48.9%; display:inline-block;">
                                    <a id="2a" class="dropdown-item" href="#" style="">Materials</a>
                                </div>
<script>
    container1.onmouseover = handler1;
    container2.onmouseover = handler2;
    function handler1(event)
    {
        for(let i = 0; i< document.getElementsByClassName('li1').length; i++)
        {
            document.getElementsByClassName('li1')[i].style.display='none';
        }

        for(let i = 0; i< document.getElementsByClassName('li2').length; i++)
        {
            document.getElementsByClassName('li2')[i].style.display='block';
        }

        document.getElementById('1a').style.fontWeight='bold';
        document.getElementById('2a').style.fontWeight='normal';
    }

    function handler2(event)
    {
        for(let i = 0; i< document.getElementsByClassName('li1').length; i++)
        {
            document.getElementsByClassName('li1')[i].style.display='block';
        }

        for(let i = 0; i< document.getElementsByClassName('li2').length; i++)
        {
            document.getElementsByClassName('li2')[i].style.display='none';
        }

        document.getElementById('1a').style.fontWeight='normal';
        document.getElementById('2a').style.fontWeight='bold';
    }
</script>
                                </li>
                                <li><hr class="dropdown-divider" style="color:darkblue;"></li>
                                <li class="test1 li2"><a class="dropdown-item" asp-route-ProductType="Truck/light tyres" asp-route-lang="eng" asp-area="" asp-page="/DataBase/Index">Truck and <br /> light truck tyres</a></li>
                                <li class="test1 li2"><a class="dropdown-item" asp-route-ProductType="Industrial tyres" asp-route-lang="eng" asp-area="" asp-page="/DataBase/Index">Industrial tyres</a></li>
                                <li class="test1 li2" ><a class="dropdown-item" asp-route-ProductType="Steel wheels" asp-route-lang="eng" asp-area="" asp-page="/DataBase/Index">Steel wheels</a></li>
                                <li class="test1 li2" ><a class="dropdown-item" asp-route-ProductType="Tubes" asp-route-lang="eng" asp-area="" asp-page="/DataBase/Index">Tubes</a></li>
                                <li class="test1 li2" ><a class="dropdown-item" asp-route-ProductType="Flaps" asp-route-lang="eng" asp-area="" asp-page="/DataBase/Index">Flaps</a></li>
                                <li class="test1 li2" ><a class="dropdown-item" asp-route-ProductType="O-rings" asp-route-lang="eng" asp-area="" asp-page="/DataBase/Index">O-rings</a></li>

                                <li class="test1 li1" style="display:none;"><a class="dropdown-item" asp-route-ProductType="Accelerator" asp-route-lang="eng" asp-area="" asp-page="/Materials/Index">Accelerators</a></li>
                                <li class="test1 li1" style="display:none;"><a class="dropdown-item" asp-route-ProductType="Antooxidants" asp-route-lang="eng" asp-area="" asp-page="/Materials/Index">Antooxidants</a></li>
                                <li class="test1 li1" style="display:none;"><a class="dropdown-item" asp-route-ProductType="Reclaim rubber" asp-route-lang="eng" asp-area="" asp-page="/Materials/Index">Reclaim rubber</a></li>
                                <li class="test1 li1" style="display:none;"><a class="dropdown-item" asp-route-ProductType="Natural rubber" asp-route-lang="eng" asp-area="" asp-page="/Materials/Index">Natural rubber</a></li>
                                <li class="test1 li1" style="display:none;"><a class="dropdown-item" asp-route-ProductType="Polybutadiene rubber" asp-route-lang="eng" asp-area="" asp-page="/Materials/Index">Polybutadiene rubber</a></li>
                                <li class="test1 li1" style="display:none;"><a class="dropdown-item" asp-route-ProductType="Adhesion promoters" asp-route-lang="eng" asp-area="" asp-page="/Materials/Index">Adhesion promoters</a></li>
                                <li class="test1 li1" style="display:none;"><a class="dropdown-item" asp-route-ProductType="Phenol-aldehyde resin" asp-route-lang="eng" asp-area="" asp-page="/Materials/Index">Phenol-aldehyde resins</a></li>
                                <li class="test1 li1" style="display:none;"><a class="dropdown-item" asp-route-ProductType="Silica" asp-route-lang="eng" asp-area="" asp-page="/Materials/Index">Silica</a></li>
                                <li class="test1 li1" style="display:none;"><a class="dropdown-item" asp-route-ProductType="Antiscorching" asp-route-lang="ru" asp-area="" asp-page="/Materials/Index">Antiscorching</a></li>

                                <li><hr class="dropdown-divider" style="color:darkblue;"></li>
                                <li class="test1 li2"><a class="dropdown-item" asp-route-lang="eng"  asp-area="" asp-page="/DataBase/Index">All goods</a></li>
                                <li class="test1 li1" style="display:none;"><a class="dropdown-item" asp-route-lang="eng"  asp-area="" asp-page="/Materials/Index">All materials</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Companies</a>
                            <ul class="dropdown-menu" style="background-color:#0066CC; width:235px">
                                <li class="test1">
                                <div id="container3" style="width:48.9%; display:inline-block;">
                                    <a id="3a" class="dropdown-item" asp-route-lang="eng" asp-area="" asp-page="/DataBase/Index" style=" font-weight:bold;">Goods</a></div>
                                <div id="container4" style="width:48.9%; display:inline-block;">
                                    <a id="4a" class="dropdown-item"  asp-route-lang="ru" asp-area="" asp-page="/Materials/Index" style="">Materials</a>
                                </div>
<script>
    container3.onmouseover = handler1;
    container4.onmouseover = handler2;
    function handler1(event)
    {
        for(let i = 0; i< document.getElementsByClassName('li3').length; i++)
        {
            document.getElementsByClassName('li3')[i].style.display='none';
        }

        for(let i = 0; i< document.getElementsByClassName('li4').length; i++)
        {
            document.getElementsByClassName('li4')[i].style.display='block';
        }

        document.getElementById('3a').style.fontWeight='bold';
        document.getElementById('4a').style.fontWeight='normal';
    }

    function handler2(event)
    {
        for(let i = 0; i< document.getElementsByClassName('li3').length; i++)
        {
            document.getElementsByClassName('li3')[i].style.display='block';
        }

        for(let i = 0; i< document.getElementsByClassName('li4').length; i++)
        {
            document.getElementsByClassName('li4')[i].style.display='none';
        }

        document.getElementById('3a').style.fontWeight='normal';
        document.getElementById('4a').style.fontWeight='bold';
    }
</script>
                                </li>
                                <li><hr class="dropdown-divider" style="color:darkblue;"></li>
                                <li class="test1 li4"><a class="dropdown-item" href="https://www.continental.com/">CONTINENTAL</a></li>
                                <li class="test1 li4"><a class="dropdown-item" href="https://en.gztyre.com/">GUIZHOU TYRE</a></li>
                                <li class="test1 li4"><a class="dropdown-item" href="https://en.haohuatire.com/">HAO HUA TIRE</a></li>
                                <li class="test1 li4"><a class="dropdown-item" href="http://www.honghuatyre.com/">HONG HUA TYRE</a></li>
                                <li class="test1 li4"><a class="dropdown-item" href="https://kabat.pl/">KABAT</a></li>
                                <li class="test1 li4"><a class="dropdown-item" href="http://www.xingmin.com/">XINGMIN ITS</a></li>
                                <li class="test1 li4"><a class="dropdown-item" href="http://www.zihairubber.com.cn/">ZIHAI RUBBER</a></li>

                                <li class="test1 li3" style="display:none;"><a class="dropdown-item" href="http://www.hnkingway.com/">HENAN KINGWAY</a></li>
                                <li class="test1 li3" style="display:none;"><a class="dropdown-item" href="http://www.sennics.com/sahxen/18245.html">SENNICS</a></li>
                                <li class="test1 li3" style="display:none;"><a class="dropdown-item" href="https://www.chemball.com/factory/mjunfi/">KEMAI</a></li>
                                <li class="test1 li3" style="display:none;"><a class="dropdown-item" href="https://en.yghuatai.com/">HUATAI</a></li>
                                <li class="test1 li3" style="display:none;"><a class="dropdown-item" href="https://www.egekimya.com/">EGE KIMIA</a></li>
                                <li class="test1 li3" style="display:none;"><a class="dropdown-item" href="https://www.grpweb.com/">GRP</a></li>
                                <li class="test1 li3" style="display:none;"><a class="dropdown-item" href="http://en.hcsilica.com/">HENGCHENG</a></li>
                                <li class="test1 li3" style="display:none;"><a class="dropdown-item" href="https://www.lshbelt.com/">ZHEJIANG</a></li>
                                <li class="test1 li3" style="display:none;"><a class="dropdown-item" href="http://www.sinolegend.com/en/">SINO LEGEND</a></li>
                                <li class="test1 li3" style="display:none;"><a class="dropdown-item" href="https://www.sinochem.com/">SINOCHEM</a></li>
                                @*                                <li><hr class="dropdown-divider" style="color:yellow;"></li>
                                <li class="test1"><a class="dropdown-item" href="#">Все компании</a></li>
*@                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-route-lang="eng" asp-area="" asp-page="/AboutUs">About Us</a>
                        </li>
                    </ul>
                </div>
                @*                <a class="nav-link text-white" asp-area="" asp-page="/#"><img src="/Images/LOGO_Rosshina_NOPNG_ONLYlogo.jpg" width="60" height="60" alt="Логотип"/></a>
*@@*                <a class="nav-link text-white" asp-area="" asp-page="/#">Торговый дом <br> шины и каучуки</a>
*@            </div>
            </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2003 - @DateTime.Now.Year Trading House "Tyres and Rubber"
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>