<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" href="https://rubber-chem.ru/Images/LOGO_Rosshina_icon.png" type="image/png" />
    <link rel="icon" href="https://rubber-chem.ru/Images/LOGO_Rosshina_icon.png" type="image/png" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Rosshina_v0._2.styles.css" asp-append-version="true" />

    <meta name="yandex-verification" content="b72d5f3e718a6db0" />

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date();
            for (var j = 0; j < document.scripts.length; j++) { if (document.scripts[j].src === r) { return; } }
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(95833825, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/95833825" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
    <header style="margin:2px;">
        <img src="/Images/LOGO_Rosshina_NOPNG_ONLYlogo.jpg" alt="Логотип" style="float:right;" height="90"/>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light @*border-bottom*@ box-shadow mb-3 navbar-inverse " style="height:90px;">
            <div class="container-fluid">
                <a class="nav-link text-white hometext" asp-route-lang="eng" asp-area="" asp-page="/Index"><h6>Trading House<br/>Tyres and Rubber</h6></a>
                <a class="nav-link text-white"><i>est.2003</i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1  flex-row-reverse nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-route-lang="ru">РУС/ENG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-route-lang="eng" asp-area="" asp-page="/Contacts">Contacts</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Products</a>
                            <ul class="dropdown-menu" style="background-color:#0066CC; width:235px">
                                <li class="test1 li1" style=""><a class="dropdown-item" asp-route-ProductType="Accelerator" asp-route-lang="eng" asp-area="" asp-page="/Materials/Index">Accelerators</a></li>
                                <li class="test1 li1" style=""><a class="dropdown-item" asp-route-ProductType="Antooxidants" asp-route-lang="eng" asp-area="" asp-page="/Materials/Index">Antooxidants</a></li>
                                <li class="test1 li1" style=""><a class="dropdown-item" asp-route-ProductType="Reclaim rubber" asp-route-lang="eng" asp-area="" asp-page="/Materials/Index">Reclaim rubber</a></li>
                                <li class="test1 li1" style=""><a class="dropdown-item" asp-route-ProductType="Natural rubber" asp-route-lang="eng" asp-area="" asp-page="/Materials/Index">Natural rubber</a></li>
                                <li class="test1 li1" style=""><a class="dropdown-item" asp-route-ProductType="Polybutadiene rubber" asp-route-lang="eng" asp-area="" asp-page="/Materials/Index">Polybutadiene rubber</a></li>
                                <li class="test1 li1" style=""><a class="dropdown-item" asp-route-ProductType="Adhesion promoters" asp-route-lang="eng" asp-area="" asp-page="/Materials/Index">Adhesion promoters</a></li>
                                <li class="test1 li1" style=""><a class="dropdown-item" asp-route-ProductType="Phenol-aldehyde resins" asp-route-lang="eng" asp-area="" asp-page="/Materials/Index">Phenol-aldehyde resins</a></li>
                                <li class="test1 li1" style=""><a class="dropdown-item" asp-route-ProductType="Silica" asp-route-lang="eng" asp-area="" asp-page="/Materials/Index">Silica</a></li>
                                <li class="test1 li1"><a class="dropdown-item" asp-route-ProductType="Antiscorching" asp-route-lang="ru" asp-area="" asp-page="/Materials/Index">Antiscorching</a></li>

                                <li><hr class="dropdown-divider" style="color:darkblue;"></li>
                                <li class="test1 li2"><a class="dropdown-item" asp-route-lang="eng"  asp-area="" asp-page="/DataBase/Index">All goods</a></li>
                                <li class="test1 li1" style=""><a class="dropdown-item" asp-route-lang="eng"  asp-area="" asp-page="/DataBase/Index">All materials</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Companies</a>
                            <ul class="dropdown-menu" style="background-color:#0066CC; width:235px">
                                <li class="test1 li3" style=""><a class="dropdown-item" href="http://www.hnkingway.com/">HENAN KINGWAY</a></li>
                                <li class="test1 li3" style=""><a class="dropdown-item" href="http://www.sennics.com/sahxen/18245.html">SENNICS</a></li>
                                <li class="test1 li3" style=""><a class="dropdown-item" href="https://www.chemball.com/factory/mjunfi/">KEMAI</a></li>
                                <li class="test1 li3" style=""><a class="dropdown-item" href="https://en.yghuatai.com/">HUATAI</a></li>
                                <li class="test1 li3" style=""><a class="dropdown-item" href="https://www.egekimya.com/">EGE KIMIA</a></li>
                                <li class="test1 li3" style=""><a class="dropdown-item" href="https://www.grpweb.com/">GRP</a></li>
                                <li class="test1 li3" style=""><a class="dropdown-item" href="http://en.hcsilica.com/">HENGCHENG</a></li>
                                <li class="test1 li3" style=""><a class="dropdown-item" href="https://www.lshbelt.com/">ZHEJIANG</a></li>
                                <li class="test1 li3" style=""><a class="dropdown-item" href="http://www.sinolegend.com/en/">SINO LEGEND</a></li>
                                <li class="test1 li3" style=""><a class="dropdown-item" href="https://www.sinochem.com/">SINOCHEM</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-route-lang="eng" asp-area="" asp-page="/AboutUs">About Us</a>
                        </li>
                    </ul>
                </div>
                @*                <a class="nav-link text-white" asp-area="" asp-page="/#"><img src="/Images/LOGO_Rosshina_NOPNG_ONLYlogo.jpg" width="60" height="60" alt="Логотип"/></a>
*@@*                <a class="nav-link text-white" asp-area="" asp-page="/#">Торговый дом <br> шины и каучуки</a>
*@            </div>
            </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2003 - @DateTime.Now.Year Trading House "Tyres and Rubber"
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>