@page "/map"
<PageTitle>Map</PageTitle>

<div style="height: 96vh">
<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A53eee9c084493db0483595d69551eae81eef2fc89435816b9776ef8be7d6ced0&amp;source=constructor" width="100%" height="100%" frameborder="0" ></iframe>
</div>

@code {

}
