@page
@model GameSIteV01.Pages.AboutUsModel
@{
}

<html>
    <body style="background-color:#1c1c1c">
        <div style="display: flex;
  justify-content: center;">
    <div style="min-width:60%; max-width:1015px;">
                    <ul style="list-style:none; padding-left:0; display:inline-block; vertical-align:top; max-width:250px;">
                        <li>
                            <a style="text-align:center; color:darkmagenta;"><b>Сухинов Сергей</b></a>
                        </li>
                        <li>
                            <img width="250" height="166" src="~/Images/Sergey.jpg"/>
                        </li>
                        <li>
                            <a style=" text-align:center; color:white;">Тим лидер, всем помогал</a>
                        </li>
                    </ul>
                    <ul style="list-style:none; padding-left:0; display:inline-block; vertical-align:top; max-width:250px;">
                        <li>
                            <a style="text-align:center; color:darkmagenta;"><b>Локтионов Тимофей</b></a>
                        </li>
                        <li>
                            <img width="250" height="166" src="~/Images/Tim.jpg"/>
                        </li>
                        <li>
                            <a style=" text-align:center; color:white;">Все объекты нарисованы с помощью его класса + финальный босс</a>
                        </li>
                    </ul>
                    <ul style="list-style:none; padding-left:0; display:inline-block; vertical-align:top; max-width:250px;">
                        <li>
                            <a style="text-align:center; color:darkmagenta;"><b>Семейкин Андрей</b></a>
                        </li>
                        <li>
                            <img width="250" height="166" src="~/Images/Andrey.jpg"/>
                        </li>
                        <li>
                            <a style=" text-align:center; color:white;">Карта и объекты  на ней</a>
                        </li>
                    </ul>
                    <ul style="list-style:none; padding-left:0; display:inline-block; vertical-align:top; max-width:250px;">
                        <li>
                            <a style="text-align:center; color:darkmagenta;"><b>Евгранов Илья</b></a>
                        </li>
                        <li>
                            <img width="250" height="166" src="~/Images/Ilia.jpg"/>
                        </li>
                        <li>
                            <a style=" text-align:center; color:white;">Наставник</a>
                        </li>
                    </ul>
                    <ul style="list-style:none; padding-left:0; display:inline-block; vertical-align:top; max-width:250px;">
                        <li>
                            <a style="text-align:center; color:darkmagenta;"><b>Филипенков Иван</b></a>
                        </li>
                        <li>
                            <img width="250" height="166" src="~/Images/Vania.jpg"/>
                        </li>
                        <li>
                            <a style=" text-align:center; color:white;">Помогал всем и отвечал за git</a>
                        </li>
                    </ul>
                    <ul style="list-style:none; padding-left:0; display:inline-block; vertical-align:top; max-width:250px;">
                        <li>
                            <a style="text-align:center; color:darkmagenta;"><b>Кремнев Артём</b></a>
                        </li>
                        <li>
                            <img width="250" height="166" src="~/Images/ArtemK.jpg"/>
                        </li>
                        <li>
                            <a style=" text-align:center; color:white;">Физика и монстры</a>
                        </li>
                    </ul>
                    <ul style="list-style:none; padding-left:0; display:inline-block; vertical-align:top; max-width:250px;">
                        <li>
                            <a style="text-align:center; color:darkmagenta;"><b>Волгин Борис</b></a>
                        </li>
                        <li>
                            <img width="250" height="166" src="~/Images/Borya.jpg"/>
                        </li>
                        <li>
                            <a style=" text-align:center; color:white;">Монстры</a>
                        </li>
                    </ul>
                    <ul style="list-style:none; padding-left:0; display:inline-block; vertical-align:top; max-width:250px;">
                        <li>
                            <a style="text-align:center; color:darkmagenta;"><b>пронин Влад</b></a>
                        </li>
                        <li>
                            <img width="250" height="166" src="~/Images/Vlad.jpg"/>
                        </li>
                        <li>
                            <a style=" text-align:center; color:white;">Монстры</a>
                        </li>
                    </ul>
                    <ul style="list-style:none; padding-left:0; display:inline-block; vertical-align:top; max-width:250px;">
                        <li>
                            <a style="text-align:center; color:darkmagenta;"><b>Рвачев Артём</b></a>
                        </li>
                        <li>
                            <img width="250" height="166" src="~/Images/ArtemRv.jpg"/>
                        </li>
                        <li>
                            <a style=" text-align:center; color:white;">Этот сайт</a>
                        </li>
                    </ul>
                    <ul style="list-style:none; padding-left:0; display:inline-block; vertical-align:top; max-width:250px;">
                        <li>
                            <a style="text-align:center; color:darkmagenta;"><b>Родкевич Артём</b></a>
                        </li>
                        <li>
                            <img width="250" height="166" src="~/Images/ArtemRod.jpg"/>
                        </li>
                        <li>
                            <a style=" text-align:center; color:white;">Все звуки, карту и презентацию</a>
                        </li>
                    </ul>
                    <ul style="list-style:none; padding-left:0; display:inline-block; vertical-align:top; max-width:250px;">
                        <li>
                            <a style="text-align:center; color:darkmagenta;"><b>Дубинкин Антон</b></a>
                        </li>
                        <li>
                            <img width="250" height="166" src="~/Images/Anton.jpg"/>
                        </li>
                        <li>
                            <a style=" text-align:center; color:white;">Сетевая часть</a>
                        </li>
                    </ul>
                    <ul style="list-style:none; padding-left:0; display:inline-block; vertical-align:top; max-width:250px;">
                        <li>
                            <a style="text-align:center; color:darkmagenta;"><b>Филипенков Михаил</b></a>
                        </li>
                        <li>
                            <img width="250" height="166" src="~/Images/Misha.jpg"/>
                        </li>
                        <li>
                            <a style=" text-align:center; color:white;">Меню</a>
                        </li>
                    </ul>
                    <ul style="list-style:none; padding-left:0; display:inline-block; vertical-align:top; max-width:250px;">
                        <li>
                            <a style="text-align:center; color:darkmagenta;"><b>Шаповалов Марк</b></a>
                        </li>
                        <li>
                            <img width="250" height="166" src="~/Images/Mark.jpg"/>
                        </li>
                        <li>
                            <a style=" text-align:center; color:white;">Настройки игры и атака Фрэнка</a>
                        </li>
                    </ul>
                    <ul style="list-style:none; padding-left:0; display:inline-block; vertical-align:top; max-width:250px;">
                        <li>
                            <a style="text-align:center; color:darkmagenta;"><b>Шаповалов Лев</b></a>
                        </li>
                        <li>
                            <img width="250" height="166" src="~/Images/lev.jpg"/>
                        </li>
                        <li>
                            <a style=" text-align:center; color:white;">Игрок и физика в игре</a>
                        </li>
                    </ul>
                    <ul style="list-style:none; padding-left:0; display:inline-block; vertical-align:top; max-width:250px;">
                        <li>
                            <a style="text-align:center; color:darkmagenta;"><b>Микрюков Алексей</b></a>
                        </li>
                        <li>
                            <img width="250" height="166" src="~/Images/Lesha.jpg"/>
                        </li>
                        <li>
                            <a style=" text-align:center; color:white;">Считыватель клавиатуры</a>
                        </li>
                    </ul>
        </div>
        </div>
    </body>
</html>