@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
    <body style="background-color:#1c1c1c">
                 <h1 style="text-align:center;"><b style="font-size:50px; color:darkmagenta; text-align:center;">DangerousD</b></h1>
        <div style="display:flex; justify-content:center;">
            <div style="max-width:60%;">
                <h5 style="text-align:center; color:white;">В этой игре вам придется пройти весь особняк</h5>
                <img style="min-width:100%; max-width:100%;" src="Images/screen1.png"/>
                <h5 style="text-align:center; color:white;">DangerousD - это платформерная игра про человека по имени Mister D, который стремиться освободить своего брата Илью</h5>
                <img style="min-width:100%; max-width:100%;" src="Images/screen2.png"/>
                <h5 style="text-align:center; color:white;">Особняк наполнен разнообразной нечистью: зомби, привидения, скелеты и много кто ещё. И с ними предстоит сражаться!</h5>
                <img style="min-width:100%; max-width:100%;" src="Images/screen3.png"/>
                <h5 style="text-align:center; color:white;">Игровое пространство разделено на несколько локаций. А в некоторых даже есть боссы</h5>
                <img style="min-width:100%; max-width:100%;" src="Images/screen4.png"/> @*Объедененная фотка всех локаций*@
                <h5 style="text-align:center; color:white;">Также играть можно вдвоём по сети</h5>
                @*<img style="min-width:100%" src="Images/screen5.png"/>*@
                <h5  style="text-align:center; color:white;"><b>Разработчики</b></h5>
                <img style="min-width:100%; max-width:100%;" src="Images/All.jpg"/> @*Общая фотка со всеми*@
                <form action="/AboutUs" style="display:flex; justify-content:center; min-width:100%; margin-top:7px; ">
                <input type="submit" value="Подробнее о разработчиках" class="btn" style="font-weight:bold; background-color:darkmagenta; color:white; min-width:50%"/>
                </form>
            </div>
        </div>
    </body>
</html>